* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin-inline: auto;
  box-shadow: 1px 1px 10px black;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

